pre[class*=language-] {
  overflow: visible;
}
pre[class*=language-].add_file-name {
  margin-top: 35px;
  border-radius: 0 0.3em 0.3em 0.3em;
}
pre[class*=language-].add_file-name .file-name {
  box-sizing: border-box;
  min-width: 50%;
  position: absolute;
  display: block;
  background: #272822;
  color: #f8f8f2;
  font-size: 0.9em;
  text-shadow: none;
  padding: 0 10px;
  text-align: left;
  top: -23px;
  left: 0px;
  border-radius: 0.3em 0.3em 0 0;
}
pre[class*=language-].line-numbers code {
  overflow: visible;
  padding-top: 0;
}/*# sourceMappingURL=highlight.css.map */